@use "../../../global/index" as *;

/* -------------------------------------
        p-faq
-----------------------------------------*/
.p-faq {
  padding: 100px 0;
  @include mq(md) {
    padding: 60px 0;
  }

  &__list {
    margin-top: 60px;
    @include mq(md) {
      margin-top: 30px;
    }
  }
}
