@use "../../../global/index" as *;

/* -------------------------------------
        p-if
-----------------------------------------*/
.p-if {
  padding: 100px 0;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    @include mq(md) {
      flex-direction: column;
      gap: 17px;
      margin-top: 30px;
    }

    &::before, &::after {
      content: '';
      display: inline-block;
      width: 74px;
      height: 80px;
      background: url(../img/under/recommend_icon01.png) no-repeat center / contain;
      @include mq(md) {
        width: 97px;
        height: 51px;
      }
    }

    &::before {
      background-image: url(../img/under/recommend_icon01.png);
      @include mq(md) {
        content: none;
      }
    }
    &::after {
      background: url(../img/under/recommend_icon02.png) no-repeat center / contain;
      @include mq(md) {
        background-image: url(../img/under/recommend_icon-sp.png);
      }
    }
  }

  &__bottom-text {
    font-size: 1.8rem;
    text-align: center;
    @include mq(md) {
      font-size: 1.5rem;
    }

    em {
      font-style: normal;
      font-weight: $medium;
    }
  }

}
