@use "../../../global/index" as *;

/* -------------------------------------
        p-if
-----------------------------------------*/
.p-if {
  padding: 100px 0;

  em {
    font-weight: $bold;
    font-style: normal;
  }

  &__card {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }

  &__card-img img {
    width: 100%;
  }

  &__card-body {
    padding: 30px;
  }

  &__card-title {
    font-size: 2rem;
    font-weight: $medium;
    line-height: 1.5;
  }

  &__card-text {
    margin-top: 15px;
  }

  &__bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    @include mq(md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 17px 30px;
      margin-top: 30px;
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 124px;
    }

    &::before {
      width: 101px;
      background: url(../img/under/if_icon01.png) no-repeat center / contain;
    }
    &::after {
      width: 111px;
      background: url(../img/under/if_icon02.png) no-repeat center / contain;
    }
  }

  &__bottom-text {
    font-size: 1.8rem;
    text-align: center;
    @include mq(md) {
      order: -1;
      width: 100%;
      font-size: 1.5rem;
    }

    em {
      font-style: normal;
      font-weight: $medium;
    }
  }
}
