@use "../../../global/index" as *;

/* -------------------------------------
        p-post
-----------------------------------------*/

.p-posthead {
  h1 {
    font-family: $second-font-family;
    font-size: 2.8rem;
    font-weight: $semibold;
    line-height: 1.5;

    @include mq(md) {
      font-size: 2rem;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @include mq(md) {
      display: block;
    }
  }

  &__date {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.5;
  }

  &__tag {
    display: inline-block;
    margin-top: 5px;
    padding: 1px 10px 2px;
    font-size: 1.4rem;
    color: #fff;
    background-color: $main-color;
    @include mq(md) {
      font-size: 1.2rem;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    @include mq(md) {
      margin-top: 20px;
    }
  }

  &__author-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    img {
      border-radius: 100%;
    }
  }

  &__author-title {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  &__author-name {
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.p-post {
  margin-top: 60px;

  @include mq(md) {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  * + p {
    margin-top: 20px;

    @include mq(md) {
      margin-top: 10px;
    }
  }

  em {
    font-style: normal;
    background: linear-gradient($marker-color 0%, $marker-color 100%);
  }

  h2 {
    margin: 80px auto 30px;
    padding: 15px 20px;
    font-size: 2.4rem;
    font-weight: $medium;
    line-height: 1.5;
    background-color: #f7f7f7;
    border-left: solid 3px #2daebb;

    @include mq(md) {
      margin: 60px auto 20px;
      font-size: 2rem;
    }
  }

  h3 {
    margin: 60px auto 30px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: $medium;
    border-bottom: solid 1px $main-color;
    @include mq(md) {
      margin: 40px auto 20px;
      font-size: 1.8rem;
    }
  }

  ul,
  ol {
    margin-top: 30px;
    padding-left: 2rem;
    li {
      line-height: 1.8;

      & + li {
        margin-top: 10px;
      }
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  table {
    width: 100%;
    margin-top: 40px;
    th {
      padding: 10px 20px;
      font-weight: $medium;
      background-color: $main-color;
      color: #fff;
      &:not(:first-child) {
        border-left: solid 1px #fff;
      }
      &:first-child {
        border-left: solid 1px $main-color;
      }
    }

    td {
      padding: 10px 20px;
      border: solid 1px #cccccc;
    }
  }
}

.p-postfoot {
  margin-top: 50px;

  &__share {
    text-align: center;
    font-size: 1.4rem;
  }

  &__share-title {
    margin-bottom: 20px;
  }

  &__author {
    margin-top: 70px;
    padding: 30px;
    border: solid 1px #ccc;

    @include mq(md) {
      margin-top: 40px;
    }
  }

  &__author-inner {
    display: flex;
    justify-content: space-between;
    @include mq(md) {
      display: block;
    }
  }

  &__author-img {
    display: inline-block;
    width: 22%;

    @include mq(md) {
      width: 100%;
      max-wiht: 146px;
      text-align: center;
    }
  }

  &__author-body {
    width: 73%;

    @include mq(md) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__author-name {
    font-size: 1.8rem;
    font-weight: $medium;

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  &__author-title {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  &__author-text {
    margin-top: 20px;

    @include mq(md) {
      font-size: 1.5rem;
    }
  }
}
