@use "../../../global/index" as *;

/* -------------------------------------
        p-plan
-----------------------------------------*/
.p-plan {
  padding: 327px 0 100px;
  margin-top: -227px;
  @include mq(md) {
    padding: 388px 0 60px;
    margin-top: -328px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
    @media screen and (max-width: 1300px){
      gap: 24px;
    }
    @media screen and (max-width: 1200px){
      flex-wrap: wrap;
    }
    @media screen and (max-width: 900px){
      flex-direction: column;
      gap: 40px;
    }


    .c-plan {
      width: calc(33.3333% - 120px / 3);
      @media screen and (max-width: 1300px){
        width: calc(33.3333% - 48px / 3);
      }
      @media screen and (max-width: 1200px){
        width: calc(50% - 24px);
      }
      @media screen and (max-width: 900px){
        width: 100%;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // &__note-wrap {
  //   margin-top: 20px;
  // }

  // &__note {
  //   line-height: 1.5;
  //   small {
  //     display: inline-block;
  //     font-size: 1.2rem;
  //   }
  // }

    &__note-wrap {
      margin-top: 20px;
    }

    &__note {
    position: relative;
    line-height: 1.5;
    padding-left: 16px;
    &::before {
      content: '※';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.2rem;
      margin-right: 5px;
    }
    
    small {
      display: block;
      font-size: 1.2rem;
    }

    em {
      color: $main-color;
      font-style: normal;
      font-weight: $bold;
    }
  }

}
