@use "../../../global/index" as *;

/* -------------------------------------
        p-procedure
-----------------------------------------*/

.p-procedure {
  padding: 100px 0;
  @include mq(md) {
    padding: 60px 0;
  }

  &__dl {
    margin-top: 50px;
    @include mq(md) {
      margin-top: 30px;
    }
  }

  &__row {
    display: flex;
    border-bottom: 1px solid #EEE;
  }

  &__row--head {
    .p-procedure__dt, .p-procedure__dd {
      background-color: $main-color;
      color: #fff;
      font-size: 1.8rem;
      font-weight: $medium;
      @include mq(md) {
        font-size: 1.6rem;
      }
    }
  }

  &__dt {
    flex-shrink: 0;
    background-color: #fff;
    width: 332px;
    font-weight: $medium;
    line-height: 1.5;
    padding: 20px 40px;
    @include mq(md) {
      width: 120px;
      font-size: 1.4rem;
      padding: 20px 10px 20px 20px;
    }
  }

  &__dd {
    flex: 1;
    background-color: #fff;
    border-left: 1px solid #EEE;
    line-height: 1.5;
    padding: 20px 40px;
    @include mq(md) {
      font-size: 1.4rem;
      padding: 20px;
    }

    em {
      display: inline-block;
      font-style: normal;
      color: $main-color;
      font-weight: $medium;
    }

    .text {
      display: inline-block;
      margin-right: 16px;
      text-indent: 0;
      @include mq(md) {
        margin-right: 13px;
      }
    }

    .tag {
      display: inline-block;
      color: #fff;
      background-color: $accent-color;
      font-size: 1.2rem;
      font-weight: $medium;
      line-height: 1.2;
      padding: 4px 5px;
      text-indent: 0;
      @include mq(md) {
        font-size: 1rem;
        padding: 4px 4px;
      }
    }
  }

  &__list {
    padding-left: 1em;

    li {
      line-height: 1.5;
      text-indent: -0.8em;
      &:not(:first-child) {
        margin-top: 5px;
      }

      &::before {
        content:  "";
        width: 3px;
        height: 3px;
        display: inline-block;
        background-color: $color-black01;
        border-radius: 50%;  
        margin-right: 8px;
        margin-bottom: 3px;
      }

    .text {
      display: inline-block;
      margin-right: 16px;
      text-indent: 0;
      @include mq(md) {
        margin-right: 13px;
      }
    }

      .tag {
        display: inline-block;
        color: #fff;
        background-color: $accent-color;
        font-size: 1.2rem;
        font-weight: $medium;
        line-height: 1.2;
        padding: 4px 5px;
        text-indent: 0;
        @include mq(md) {
          font-size: 1rem;
          padding: 4px 4px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    @include mq(md) {
      gap: 9px;
      margin-top: 30px;
    }

    &::before, &::after {
      content: '';
      display: inline-block;
      width: 101px;
      height: 124px;
      background: url(../img/under/procedure_icon01.png) no-repeat center / contain;
      @include mq(md) {
        width: 50px;
        height: 61px;
      }
    }

    &::before {
      background-image: url(../img/under/procedure_icon01.png);
    }
    &::after {
      background: url(../img/under/procedure_icon02.png) no-repeat center / contain;
    }
  }

  &__bottom-text {
    font-size: 1.8rem;
    font-weight: $medium;
    text-align: center;
    @include mq(md) {
      font-size: 1.5rem;
    }
  }
}