@use "../../../global/index" as *;

/* -------------------------------------
        p-support
-----------------------------------------*/
.p-support {
  position: relative;
  padding-top: 100px;
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 233px;
    right: 0;
    width: 379px;
    aspect-ratio: 379 / 255;
    background: url(../img/common/bg_ring01.png) no-repeat center / contain;
    z-index: -1;
    @include mq(md) {
      content: none;
    }
  }

  &__content {
    margin-top: 60px;
  }
}