@use "../../../global/index" as *;

/* -------------------------------------
        p-service
-----------------------------------------*/
.p-service {
  position: relative;
  background: transparent url(../img/under/under-service_bg.jpg) no-repeat center top/cover;
  padding: 100px 0;
  overflow: hidden;
  @include mq(md) {
    background-image: url(../img/under/under-service_bg-sp.jpg);
    padding: 60px 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.85) 100%
    );
    width: 100%;
    height: 20px;
    pointer-events: none;
    z-index: 1;
  }

  &__sp-nav {
    display: none;
    @include mq(md) {
      display: block;
    }
  }


  &__card-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 25px;
    margin-top: 80px;
    @include mq(lg) {
      grid-template-columns: repeat(1, 1fr);
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
    @include mq(md) {
      margin-top: 70px;
    }
  }

  &__card {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    padding: 60px 25px 40px;
  }


  &__card-title {
    font-family: $second-font-family;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    @include mq(md) {
      font-size: 1.8rem;
    }
  }

  &__card--num {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: $main-color;
    border-radius: 50%;
    color: #fff;
    font-family: $second-font-family;
    font-size: 2.6rem;
    line-height: 1;
  }

  &__card-text {
    margin-top: 30px;
    @include mq(md) {
      font-size: 1.5rem;
    }

    em {
      color: $main-color;
      font-style: normal;
      font-weight: $medium;
    }
  }

  &__card-price {
    grid-row: 2;
    padding: 10px 0 20px;
    @include mq(md) {
      grid-row: auto;
    }
  }

  &__card-dl {
  }

  &__card-dl-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
  }

  &__card-dl-item--highlight {
    background-color: $marker-color;

    .p-service__card-dt {
      font-weight: $medium;
    }
  }

  &__card-dt {
    font-size: 1.2rem;
    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__card-dd {
    color: $main-color;
    font-family: $third-font-family;
    font-size: 2rem;
    font-weight: $medium;
  }

  &__card-price-unit {
    display: inline-block;
    color: $color-black01;
    font-family: $base-font-family;
    font-size: 1.2rem;
    font-weight: $regular;
    margin-left: 5px;
  }

  &__card-dl-note {
    font-size: 1rem;
    padding: 0 10px;
  }

  &__card-link-wrap {
    grid-row: 3;
    align-self: end;
    text-align: right;
    @include mq(md) {
      grid-row: auto;
    }
  }

  &__card-link-text {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem; 

    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 12px;
      background: url(../img/icon/icon_arrow-right.svg) no-repeat center / contain;
      margin-left: 9px;
      transition: transform 0.25s;
    }
  }

}
