@use "../../../global/index" as *;

/* -------------------------------------
        p-tab
-----------------------------------------*/
.p-tab {

  &__list {
    display: flex;
    justify-content: center;
    max-width: 812px;
    gap: 30px;
    margin: 80px auto 0;
    @include mq(md) {
      flex-direction: column;
      margin-top: 40px;
    }
  }

  &__item {
    flex: 1;
    position: relative;
    background-color: #fff;
    border: 1px solid $main-color;
    text-align: center;
    padding: 20px 10px;
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
      width: 24px;
      height: 19px;
      background: url(../img/under/triangle_border.png) no-repeat center / contain;
    }
  }

  // active時
  &__item.is-active {
    background-color: $main-color;
    color: #fff;
    &::after {
      background: url(../img/under/triangle.png) no-repeat center / contain;
    }

    .p-tab__title {
      color: #fff;
    }
  }

  &__title {
    color: $main-color;
    font-size: 2rem;
    font-weight: $bold;
    line-height: 1.5;
  }

  &__lead {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 5px;
  }

  // パネル
  &__panel {
    display: none;
    opacity: 0;
    background: #fff;
    margin-top: 40px;
  }

  // 表示時
  &__panel.is-active {
    display: block;
    animation-name: tab-display;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes tab-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
}
