@use "../../../global/index" as *;

/* -------------------------------------
        p-worries
-----------------------------------------*/
.p-worries {
  overflow: hidden;
  padding-top: 100px;
  @include mq(md) {
    padding-top: 40px;
  }

  &__content {
    display: flex;
    @include mq(md) {
      flex-direction: column-reverse;
    }
  }

  &__text-area {
    flex: 1;
    max-width: 630px;
    margin: 25px 50px 0 0;
    @include mq(xl) {
      padding: 25px 0;
      margin-top: 0;
    }
    @include mq(md) {
      max-width: 100%;
      margin: 25px 0 0 0;
    }
  }

  &__title {
    font-family: $second-font-family;
    font-size: 2.8rem;
    font-weight: $semibold;
    line-height: 1.5;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-color;
    @include mq(xl) {
      font-size: 2.4rem;
    }
    @include mq(md) {
      font-size: 2.2rem;
    }
  }

  &__list {
    padding-left: 1.2em;
    margin-top: 30px;
  }

  &__item {
    font-size: 1.8rem;
    line-height: 1.5;
    text-indent: -1em;
    @include mq(xl) {
      font-size: 1.6rem;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      content:  "";
      width: 8px;
      height: 8px;
      display: inline-block;
      background-color: #848484;
      border-radius: 50%;  
      margin-right: 8px;
    }

    em {
      color: $main-color;
      font-style: normal;
      font-weight: $medium;
    }
  }

  &__catch {
    display: flex;
    font-size: 2.2rem;
    font-weight: $medium;
    line-height: 1.5;
    margin-top: 50px;
    @include mq(xl) {
      font-size: 1.8rem;
      margin-top: 30px;
    }
    &::before {
      content: '';
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background: url(../img/icon/icon_check.svg) no-repeat center / contain;
      margin-right: 10px;
      transform: translateY(6px);
      @include mq(xl) {
        width: 17px;
        height: 17px;
        margin-right: 8px;
        transform: translateY(7px);
      }
    }
  }

  &__img {
    position: relative;
    margin-left: auto;
    margin-right: calc(-50vw - -50%);
    width: 43.5vw;
    min-height: 638px;
    overflow: hidden;
    @include mq(xl) {
      width: 40vw;
    }
    @include mq(md) {
      margin: 0;
      min-height: auto;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      min-height: 638px;
      height: 100%;
      background: linear-gradient(
        90deg,
  #ffffff 0%,
  rgba(255, 255, 255, 0.8) 10%,
  rgba(255, 255, 255, 0.4) 24%,
  rgba(255, 255, 255, 0) 30%
      );

      @include mq(md) {
        content: none;
      }
    }

    img {
      width: 100%;
      min-height: 638px;
      height: 100%;
      object-fit: cover;
      @include mq(md) {
        height: auto;
      }
    }
  }

}
