@use "../../global/index" as *;

/* -------------------------------------
        c-breadcrumb
-----------------------------------------*/
.c-breadcrumb {
  display: flex;
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  padding: 30px 0 0 0;
  z-index: 10;
  @include mq(md) {
    display: none;
  }

  &__icon {
    display: inline-block;
    background: url(../img/icon/icon_arrow-right.svg) no-repeat 50% 50%;
    background-size: 5px auto;
    padding: 5px 3px;
    margin: 0 10px;
  }

  .current-item {
    // color: $main-color;
  }

  a {
    text-decoration: underline;
    transition: 0.25s;
    &:hover, &:focus-visible {
      opacity: 0.7;      
    }
  }
}