@use "../../global/index" as *;

/* -------------------------------------
        c-greeting
-----------------------------------------*/
// .c-greeting {
//   display: flex;
//   gap: 70px;
//   margin-top: 50px;

//   &__img {
//     max-width: 355px;
//     width: 33%;
//   }

//   &__body {
//     flex: 1;
//   }

//   &__position {}

//   &__name {
//     font-size: 2.4rem;
//   }

//   &__text-warp {
//     margin-top: 50px;
//   }

//   &__text {
//     &:not(:first-child) {
//       margin-top: 30px;
//     }
//   }
// }



.c-greeting {
  display: grid;
  grid-template-columns: 355px 1fr;
  column-gap: 70px;
  row-gap: 0;
  margin-top: 50px;
  align-items: start;

  @include mq(md) {
    grid-template-columns: 140px 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 30px;
    align-items: center;
  }

  &__img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-width: 355px;
    width: 100%;

    @include mq(md) {
      grid-row: 1 / 2;
      width: 140px;
      max-width: 140px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__body {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @include mq(md) {
      align-self: start;
    }
  }

  &__position {
    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__name {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-top: 5px;

    @include mq(md) {
      font-size: 1.8rem;
      margin-top: 0;
    }
  }

  &__text-warp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 50px;

    @include mq(md) {
      grid-column: 1 / -1;
      margin-top: 0;
    }
  }

  &__text {
    @include mq(md) {
      font-size: 1.5rem;
    }
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}