@use "../../global/index" as *;

/* -------------------------------------
        c-lead
-----------------------------------------*/
.c-lead {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  @include mq(md) {
    font-size: 1.5rem;
  }
}
