@use "../../global/index" as *;
/* -------------------------------------
        c-pagination
-----------------------------------------*/
.c-pagination {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 16px;
    position: relative;
    @include mq(md) {
      gap: 5px 10px;
    }
  }

  li a {
    transition: opacity 0.25s;
    &:hover, &:focus {
      opacity: 0.7;
    }
  }

  li .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 46px;
    height: 46px;
    border: 1px solid $main-color;
    background-color: #fff;    
    font-family: $third-font-family;
    line-height: 1;
    @include mq(md) {
      width: 30px;
      height: 30px;
      font-size: 1.3rem;
    }
  }

  li .current {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
  }

  li .prev, li .next {
    // border: none;
  }

  li .prev {
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 24px;      
      background-image: url(../img/icon/icon_arrow-left.svg);
      background-size: contain;
      background-repeat: no-repeat;  
      @include mq(md) {
        width: 5px;
        height: 12px;  
      }
    }
  }

  li .next {
    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 24px;      
      background-image: url(../img/icon/icon_arrow-right-2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      @include mq(md) {
        width: 5px;
        height: 12px;  
      }
    }
  }
}