@use "../../global/index" as *;

/* -------------------------------------
        c-primary-title
-----------------------------------------*/
.c-primary-title {
  font-family: $second-font-family;
  font-size: 3.6rem;
  font-weight: $demibold;
  line-height: 1.4;
  text-align: center;
  @include mq(md) {
    font-size: 2.4rem;
  }
  &::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: $main-color;
    margin: 14px auto 0;
    @include mq(md) {
      width: 30px;
      margin-top: 11px;
    }
  }

  & + .c-lead {
    margin-top: 30px;
  }

}
