@use "../../global/index" as *;

/* -------------------------------------
        c-side
-----------------------------------------*/

.c-side {
  &__title {
    padding-bottom: 3px;
    font-size: 1.8rem;
    font-weight: $medium;
    border-bottom: solid 1px $main-color;
  }

  &__cate,
  &__ranking {
    margin-top: 25px;
  }

  &__cate-item,
  &__ranking-item {
    margin-top: 10px;
    a {
      &:hover {
        color: $main-color;
        transition: color 0.25s;
      }

      @include mq(md) {
        font-size: 1.5rem;
      }
    }
  }

  &__cate-item {
    position: relative;
    padding-left: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      top: 2px;
      width: 12px;
      height: 24px;
      background-image: url(../img/icon/icon_arrow-right-2.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__ranking-item {
    a {
      display: flex;
    }
    .num {
      position: relative;
      top: 4px;
      display: block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      font-size: 1.4rem;
      color: #fff;
      background-color: #d2a96c;
      text-align: center;
      border-radius: 100%;
    }
    p {
      width: calc(100% - 35px);
    }
  }
  & + .c-side {
    margin-top: 60px;
  }
}
