@use "../global/index" as *;

/* -------------------------------------
        l-col2
-----------------------------------------*/

.l-col2 {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 130px;

  & + footer {
    margin-top: 130px;
  }

  @include mq(lg) {
    display: block;
  }
}

.l-body {
  width: 66%;
  @include mq(lg) {
    width: 100%;
  }
}

.l-side {
  width: 27%;
  @include mq(lg) {
    width: 100%;
    margin-top: 50px;
  }
}
