@use "../global/index" as *;

/* -------------------------------------
        l-footer
-----------------------------------------*/
.l-footer {
  color: #fff;
  background: transparent url(../img/common/footer_bg.jpg) no-repeat center center/cover;
  padding: 70px 0;
  @include mq(md) {
    background-image: url(../img/common/footer_bg-sp.jpg);
    padding: 40px 0 20px;
  }

  .l-inner {
    max-width: 1020px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include mq(md) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__info {
    width: 46%;
    font-weight: $medium;
    line-height: 1.5;
    @include mq(md) {
      width: 100%;
      text-align: center;
    }
  }

  &__name {
    font-size: 2rem;
    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  &__address {
    font-size: 1.5rem;
    margin-top: 16px;
    @include mq(md) {
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }

  &__tel {
    font-size: 1.5rem;
    margin-top: 6px;
    @include mq(md) {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  &__license {
    font-size: 1.5rem;
    margin-top: 6px;
    @include mq(md) {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  &__copyright {
    font-size: 1rem;
    margin-top: 40px;
    @include mq(md) {
      text-align: center;
      margin-top: 40px;
    }
  }

  &__nav-wrap {
    flex: 1;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include mq(md) {
      flex-direction: column;
      gap: 0;
      max-width: 360px;
      margin: 0 auto;
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include mq(md) {
      gap: 0
    }
  }

  &__nav-item {
    a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: $medium;
      line-height: 1.5;
      transition: opacity 0.3s;
      @include mq(md) {
        display: block;
        border-bottom: 1px solid #B5D4DA;
        font-size: 1.6rem;
        padding: 12px 0;
      }

      &:hover, &:focus-visible {
        opacity: $hover-opacity;        
      }      
    }
  }
}
