@charset "UTF-8";
/* -------------------------------------
    設定
-----------------------------------------*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
html,
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
body {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
body {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Notosans_subset";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NotoSans_Regular.woff2") format("woff2"), url("../fonts/NotoSans_Regular.woff") format("woff");
}
@font-face {
  font-family: "Notosans_subset";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/NotoSans_Medium.woff2") format("woff2"), url("../fonts/NotoSans_Medium.woff") format("woff");
}
@font-face {
  font-family: "Notosans_subset";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/NotoSans_Bold.woff2") format("woff2"), url("../fonts/NotoSans_Bold.woff") format("woff");
}
@font-face {
  font-family: "Notosans_subset";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/NotoSans_Black.woff2") format("woff2"), url("../fonts/NotoSans_Black.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-200 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-200.woff2") format("woff2"), url("../fonts/roboto-v30-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v25-latin-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v25-latin-700.woff") format("woff");
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  font-size: 1.6em;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

:where(button, [type=button], [type=reset], [type=submit]) {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

textarea {
  resize: both;
}

/* FontFamily */
/* font-weight */
body {
  font-family: "Notosans_subset", sans-serif;
  font-weight: 400;
  color: #333;
}

.l-inner {
  max-width: 1180px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
.l-inner--s {
  max-width: 980px;
}
.l-inner--l {
  max-width: 1280px;
}
@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 600px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* -------------------------------------
        l-header
-----------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 114px;
  background-color: #fff;
  z-index: 20;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .l-header {
    height: 73px;
  }
}
.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 90px;
  padding-left: 90px;
  margin: 0 auto;
}
@media screen and (max-width: 1560px) {
  .l-header__inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 992px) {
  .l-header__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.l-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.l-header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 40;
}
.l-header__logo a:hover, .l-header__logo a:focus-visible {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-header__logo-text {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2;
}
@media screen and (max-width: 1240px) {
  .l-header__logo-text {
    font-size: 1rem;
  }
}
.l-header__logo-main {
  display: block;
  max-width: 361px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 1560px) {
  .l-header__logo-main {
    max-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .l-header__logo-main {
    max-width: 256px;
    margin-top: 6px;
  }
}
.l-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1240px) {
  .l-header__container {
    display: none;
  }
}
.l-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 494px;
  gap: 10px 40px;
  margin-left: 70px;
}
@media screen and (max-width: 1560px) {
  .l-header__contact {
    gap: 10px 20px;
    width: 474px;
    margin-left: 30px;
  }
}
.l-header__tel-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 244px;
}
.l-header__cta-btn {
  width: 211px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.p-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-header-nav__item {
  position: relative;
  height: 100%;
}
.p-header-nav__item:first-child .p-header-nav__link {
  padding-left: 0;
}
.p-header-nav__item:last-child .p-header-nav__link {
  padding-right: 0;
}
.p-header-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  padding: 0 13px;
  margin-top: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-transform: uppercase;
}
@media screen and (max-width: 1560px) {
  .p-header-nav__link {
    font-size: 1.5rem;
    padding: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .p-header-nav__link {
    font-size: 1.2rem;
  }
}
.p-header-nav__link:hover, .p-header-nav__link:focus-visible {
  color: #2DAEBB;
}
.p-header-nav__icon path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.p-header-nav__item.current .l-header-nav__link {
  color: #2DAEBB;
}
.p-header-nav__item.current .l-header-nav__link::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.p-header-nav__item.current .l-header-nav__icon path {
  fill: #2DAEBB;
}

.c-hamburger-btn {
  display: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
@media screen and (max-width: 1240px) {
  .c-hamburger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 39px;
    height: 39px;
    z-index: 20;
  }
  .c-hamburger-btn:focus-visible {
    outline: 2px solid #333;
  }
}
.c-hamburger-btn button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.c-hamburger-btn__inner {
  display: block;
  position: relative;
  width: 28px;
  height: 20px;
}
.c-hamburger-btn__line {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  width: 100%;
}
.c-hamburger-btn__line::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #2DAEBB;
  border-radius: 20px;
}
.c-hamburger-btn__line:nth-of-type(1) {
  top: 0;
}
.c-hamburger-btn__line:nth-of-type(2) {
  top: calc(50% - 1px);
  right: 0;
}
.c-hamburger-btn__line:nth-of-type(3) {
  bottom: 0;
}

.p-sub-nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  margin-top: 114px;
}
@media screen and (max-width: 1240px) {
  .p-sub-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: auto;
    overflow-y: auto;
    background-color: #fff;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    z-index: 30;
  }
}
@media screen and (max-width: 1240px) and (max-width: 767px) {
  .p-sub-nav {
    margin-top: 73px;
  }
}
.p-sub-nav__inner {
  position: relative;
  padding-top: 10px;
  padding-bottom: 200px;
  z-index: 30;
}
.p-sub-nav__item {
  position: relative;
  max-width: 308px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  cursor: pointer;
}
.p-sub-nav__title {
  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.p-sub-nav__link {
  display: block;
  padding: 15px 10px;
}
.p-sub-nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  max-width: 360px;
  margin: 30px auto 0;
}
.p-sub-nav__btn {
  width: 100%;
  max-width: 360px;
}
.p-sub-nav__btn .c-btn {
  max-width: 360px;
  font-size: 1.6rem;
  padding: 21px 8px;
}
.p-sub-nav__info {
  position: relative;
  max-width: 240px;
  margin: 38px auto 0;
  z-index: 20;
}
.p-sub-nav__info-item:not(:first-child) {
  margin-top: 20px;
}

.l-header.active .c-hamburger-btn__line:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.l-header.active .c-hamburger-btn__line:nth-of-type(2) {
  width: 0;
  -webkit-transition: 0.01s;
  transition: 0.01s;
}
.l-header.active .c-hamburger-btn__line:nth-of-type(3) {
  width: 100%;
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}
@media screen and (max-width: 1240px) {
  .l-header.active .p-sub-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: 0.15s;
    transition: 0.15s;
  }
}

/* -------------------------------------
        l-footer
-----------------------------------------*/
/* -------------------------------------
        l-breadcrumb
-----------------------------------------*/
.l-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1130px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 74px 25px 0;
  margin: 0 auto;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .l-breadcrumb {
    display: none;
  }
}
.l-breadcrumb__icon {
  display: inline-block;
  background: url(../images/icon/icon_arrow-right-blk.svg) no-repeat 50% 50%;
  background-size: 5px auto;
  padding: 10px 4px;
  margin: 0 10px;
}
.l-breadcrumb .current-item {
  color: #2DAEBB;
}
.l-breadcrumb a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.l-breadcrumb a:hover, .l-breadcrumb a:focus-visible {
  opacity: 0.7;
}

/* -------------------------------------
        l-section
-----------------------------------------*/
.l-section {
  padding-top: 120px;
}
@media screen and (max-width: 767px) {
  .l-section {
    padding-top: 80px;
  }
}

/* -------------------------------------
        l-main
-----------------------------------------*/
.l-main {
  margin-top: 114px;
}
@media screen and (max-width: 767px) {
  .l-main {
    margin-top: 73px;
  }
}

/* -------------------------------------
        l-grid
-----------------------------------------*/
.l-grid {
  display: grid;
  gap: 40px 50px;
}
@media screen and (max-width: 767px) {
  .l-grid {
    gap: 30px;
  }
}

.l-grid--col2 {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 767px) {
  .l-grid--col2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.l-grid--col3 {
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  .l-grid--col3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------------------------------
        c-accordion
-----------------------------------------*/
.c-accordion__row:not(:first-child) {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .c-accordion__row:not(:first-child) {
    margin-top: 20px;
  }
}
.c-accordion__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 12px 12px 0 0;
  background-color: #2DAEBB;
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
  padding: 15px 72px 15px 30px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .c-accordion__btn {
    font-size: 1.8rem;
    padding: 16px 56px 16px 20px;
  }
}
@media screen and (max-width: 330px) {
  .c-accordion__btn {
    padding: 16px 46px 16px 20px;
  }
}
.c-accordion__btn::before, .c-accordion__btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 1px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .c-accordion__btn::before, .c-accordion__btn::after {
    top: 32px;
    right: 20px;
    width: 12px;
  }
}
.c-accordion__btn::after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.c-accordion__btn:focus-visible {
  outline: 2px solid #2DAEBB;
}
.c-accordion__btn .c-accordion__icon::before {
  display: block;
  content: "Q";
  font-size: 2rem;
  line-height: 1.3;
  margin-right: 10px;
}
.c-accordion__circle {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 22px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .c-accordion__circle {
    top: 20px;
    right: 14px;
    width: 24px;
    height: 24px;
  }
}
.c-accordion__body {
  display: none;
  background-color: #F3F3F3;
  border-radius: 0 0 12px 12px;
  padding: 20px 30px;
}
@media screen and (max-width: 767px) {
  .c-accordion__body {
    padding: 15px 30px;
  }
}
.c-accordion__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .c-accordion__text {
    line-height: 1.575;
    letter-spacing: 0.05em;
  }
}

.c-accordion__btn.is-open::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* -------------------------------------
      c-page-top  
-----------------------------------------*/
.c-page-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 30px;
  width: 57px;
  height: 57px;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .c-page-top {
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 40px;
  }
}

/* -------------------------------------
        c-primary-title
-----------------------------------------*/
.c-primary-title {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-primary-title {
    font-size: 2.4rem;
  }
}
.c-primary-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #2DAEBB;
  margin: 14px auto 0;
}
@media screen and (max-width: 767px) {
  .c-primary-title::after {
    width: 30px;
    margin-top: 11px;
  }
}
.c-primary-title + .c-lead {
  margin-top: 30px;
}

/* -------------------------------------
        c-secondary-title
-----------------------------------------*/
.c-secondary-title {
  background: -webkit-gradient(linear, left top, right top, from(#38BADC), to(#2DAEBB));
  background: linear-gradient(to right, #38BADC, #2DAEBB);
  border-radius: 6px;
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 500;
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  .c-secondary-title {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 12px 20px;
  }
}

/* -------------------------------------
        c-pagination
-----------------------------------------*/
.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px 10px;
  position: relative;
}
.c-pagination li a {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.c-pagination li a:hover, .c-pagination li a:focus {
  opacity: 0.7;
}
.c-pagination li .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #EEFAF9;
  background-color: #EEFAF9;
  border-radius: 4px;
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  line-height: 1;
  margin: 3px;
}
@media screen and (max-width: 767px) {
  .c-pagination li .page-numbers {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
  }
}
.c-pagination li .current {
  background-color: #92846F;
  border: 1px solid #92846F;
  color: #fff;
}
.c-pagination li .prev, .c-pagination li .next {
  border: none;
}
.c-pagination li .prev::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 14px;
  background-image: url(../img/icon/icon_left.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .c-pagination li .prev::before {
    width: 5px;
    height: 12px;
  }
}
.c-pagination li .next::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 14px;
  background-image: url(../img/icon/icon_right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .c-pagination li .next::after {
    width: 5px;
    height: 12px;
  }
}

/* -------------------------------------
        c-card
-----------------------------------------*/
@media screen and (min-width: 768px) {
  .c-card:hover .c-card__img img, .c-card:focus-visible .c-card__img img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  .c-card:hover .c-card__title, .c-card:focus-visible .c-card__title {
    --d: 100%;
    --p: 100%;
  }
}
.c-card__img {
  position: relative;
  padding-top: 65%;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .c-card__img {
    border-radius: 8px;
  }
}
.c-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.c-card__body {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .c-card__body {
    margin-top: 5px;
  }
}
.c-card__date {
  display: block;
  color: #666;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .c-card__date {
    margin-top: 10px;
  }
}
.c-card__title {
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2DAEBB)) var(--p, 0) 100%/var(--d, 0) 1px no-repeat;
  background: linear-gradient(#2DAEBB 0 0) var(--p, 0) 100%/var(--d, 0) 1px no-repeat;
  -webkit-transition: 0.3s, background-position 0s 0.3s;
  transition: 0.3s, background-position 0s 0.3s;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .c-card__title {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    margin-top: 3px;
  }
}
@media screen and (min-width: 768px) {
  .c-card__title:hover, .c-card__title:focus-visible {
    --d: 100%;
    --p: 100%;
  }
}

/* -------------------------------------
        c-btn
-----------------------------------------*/
.c-btn {
  display: inline-block;
  position: relative;
  max-width: 300px;
  width: 100%;
  border: 1px solid #2DAEBB;
  background-color: #2DAEBB;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 10;
  padding: 20px 10px;
}
@media screen and (max-width: 767px) {
  .c-btn {
    font-size: 1.4rem;
    max-width: 250px;
    padding: 13px 8px;
  }
}
.c-btn:hover .c-btn__icon path, .c-btn:hover .c-btn__link:focus .c-btn__icon path, .c-btn:focus-visible .c-btn__icon path, .c-btn:focus-visible .c-btn__link:focus .c-btn__icon path {
  fill: #fff;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
.c-btn__icon {
  display: inline-block;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  max-width: 8px;
  width: 100%;
  margin-left: 8px;
}
.c-btn__icon path {
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
.c-btn:hover, .c-btn:focus-visible {
  background-color: #fff;
  color: #2DAEBB;
}

.c-btn--small {
  max-width: 211px;
  padding: 12px 10px;
}
@media screen and (max-width: 767px) {
  .c-btn--small {
    max-width: 300px;
    font-size: 1.4rem;
  }
}

.c-btn--larg {
  max-width: 340px;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .c-btn--larg {
    max-width: 300px;
    font-size: 1.4rem;
  }
}

.c-btn--icon02 .c-btn__icon {
  display: inline-block;
  position: absolute;
  top: 24%;
  right: 20px;
  max-width: 31px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .c-btn--icon02 .c-btn__icon {
    top: 18%;
  }
}
@media screen and (max-width: 360px) {
  .c-btn--icon02 .c-btn__icon {
    right: 14px;
  }
}

.c-btn--icon03 .c-btn__icon {
  display: inline-block;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-right: 7px;
  max-width: 24px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .c-btn--icon03 .c-btn__icon {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}

/* -------------------------------------
        c-icon-btn
-----------------------------------------*/
.c-icon-btn {
  display: inline-block;
  position: relative;
  max-width: 211px;
  width: 100%;
  border: 1px solid #38BADC;
  border-radius: 8px;
  background-color: #38BADC;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 14px 0.8em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 10;
}
.c-icon-btn:hover, .c-icon-btn:focus-visible {
  background-color: #fff;
}
.c-icon-btn:hover .c-icon-btn__text, .c-icon-btn:focus-visible .c-icon-btn__text {
  color: #38BADC;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.c-icon-btn__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.c-icon-btn__text::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #fff;
  -webkit-mask: url(../img/icon/icon_mail.svg) no-repeat center/cover;
          mask: url(../img/icon/icon_mail.svg) no-repeat center/cover;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}
.c-icon-btn:hover, .c-icon-btn:focus-visible {
  color: #2DAEBB;
  background-color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.c-icon-btn:hover .c-icon-btn__text::before, .c-icon-btn:focus-visible .c-icon-btn__text::before {
  background-color: #38BADC;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.c-icon-btn--post .c-icon-btn__text::before {
  -webkit-mask: url(../img/icon/icon_post.svg) no-repeat center/cover;
          mask: url(../img/icon/icon_post.svg) no-repeat center/cover;
}
.c-icon-btn--larg {
  max-width: 300px;
  padding: 24px 0.1em;
}
@media screen and (max-width: 767px) {
  .c-icon-btn--larg {
    font-size: 1.6rem;
  }
}

/* -------------------------------------
        c-select
-----------------------------------------*/
.c-select {
  position: relative;
}
.c-select::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 13px;
  height: 13px;
  background: url(../img/icon/icon_triangle.svg) no-repeat center/contain;
}
.c-select select {
  width: 100%;
  border: 1px solid #959595;
  border-radius: 5px;
  padding: 9px 15px;
  color: #7F7F7F;
  font-size: 1.4rem;
  cursor: pointer;
}

/* -------------------------------------
        c-tags
-----------------------------------------*/
.c-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.c-tags__item {
  display: inline-block;
  background-color: #EEFAF9;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 6px 8px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.c-tags__item:hover, .c-tags__item:focus-visible {
  color: #2DAEBB;
  border-color: #2DAEBB;
}

/* -------------------------------------
        c-reason
-----------------------------------------*/
.c-reason {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 40px 25px 15px;
}
.c-reason::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 46px;
  background: url(../img/top/num-bg.png) no-repeat center/contain;
}
.c-reason__num {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 1;
}
.c-reason__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
.c-reason__icon {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 72px;
  margin-top: 54px;
}
.c-reason__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.c-reason__title {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-size: 2rem;
  font-weight: 500;
}
.c-reason__text {
  margin-top: 8px;
}

/* -------------------------------------
        c-lead
-----------------------------------------*/
.c-lead {
  font-size: 1.8rem;
  text-align: center;
}

/* -------------------------------------
        c-tel
-----------------------------------------*/
.c-tel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2DAEBB;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1.2;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  pointer-events: none;
}
.c-tel__item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icon/icon_tel.svg) no-repeat center/contain;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .c-tel__item {
    pointer-events: auto;
  }
  .c-tel__item:hover, .c-tel__item:focus-visible {
    opacity: 0.7;
  }
}
.c-tel__note {
  font-size: 1.2rem;
  text-align: center;
}

/* -------------------------------------
        p-mv
-----------------------------------------*/
.p-mv {
  height: 666px;
  padding: 40px 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #ffffff), to(rgba(255, 255, 255, 0))), url(../img/top/mv_img.jpg) no-repeat 70% center/cover;
  background: linear-gradient(to right, #ffffff 40%, rgba(255, 255, 255, 0) 100%), url(../img/top/mv_img.jpg) no-repeat 70% center/cover;
}
@media screen and (max-width: 767px) {
  .p-mv {
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgb(255, 255, 255)), color-stop(100%, rgba(255, 255, 255, 0.53)), to(rgba(255, 255, 255, 0))), url(../img/top/mv_img-sp.jpg) no-repeat 70% center/cover;
    background: linear-gradient(to right, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.53) 100%, rgba(255, 255, 255, 0) 100%), url(../img/top/mv_img-sp.jpg) no-repeat 70% center/cover;
  }
}
@media screen and (max-width: 767px) {
  .p-mv {
    height: auto;
    padding: 46px 0 63px;
  }
}
.p-mv__inner {
  position: relative;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 100px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .p-mv__inner {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .p-mv__inner {
    padding: 0 20px;
  }
}
.p-mv__content {
  position: relative;
  margin-top: -9px;
}
@media screen and (max-width: 767px) {
  .p-mv__content {
    margin-top: 0;
  }
}
.p-mv__title {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .p-mv__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 390px) {
  .p-mv__title {
    font-size: 6.2vw;
  }
}
.p-mv__tags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .p-mv__tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 35px;
  }
}
.p-mv__tag {
  background-color: #fff;
  border: 2px solid #2DAEBB;
  line-height: 1.2;
  padding: 13px 13px;
}
@media screen and (max-width: 767px) {
  .p-mv__tag {
    font-size: 1.5rem;
  }
}
.p-mv__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .p-mv__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25px;
  }
}
@media screen and (max-width: 767px) {
  .p-mv__bottom {
    margin-top: 35px;
  }
}
.p-mv__btn-wrap {
  width: 314px;
}
.p-mv__btn-wrap .c-btn {
  max-width: 314px;
}
@media screen and (max-width: 767px) {
  .p-mv__btn-wrap .c-btn {
    max-width: 240px;
    font-size: 1.6rem;
    padding: 21px 8px;
  }
}
.p-mv__tel-wrap {
  max-width: 263px;
}

/* -------------------------------------
        p-top-intro
-----------------------------------------*/
.p-top-intro {
  padding: 100px 0;
}
.p-top-intro__title {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
.p-top-intro__text {
  font-size: 2rem;
  line-height: 2;
  text-align: center;
  margin-top: 20px;
}
.p-top-intro__media {
  margin-top: 100px;
}
.p-top-intro__media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.p-top-intro__media-img {
  width: 47%;
  max-width: 540px;
}
.p-top-intro__media-text-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.p-top-intro__media-title {
  color: #2DAEBB;
  font-size: 2rem;
  line-height: 1.5;
}
.p-top-intro__media-list {
  border-left: 1px solid #2DAEBB;
  padding-left: 15px;
  margin-top: 20px;
}
.p-top-intro__media-list li {
  font-size: 1.8rem;
  line-height: 1.5;
}
.p-top-intro__media-list li:not(:first-child) {
  margin-top: 20px;
}
.p-top-intro__media-catch {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 40px;
}
.p-top-intro__media-catch::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icon/icon_check.svg) no-repeat center/contain;
  margin-right: 10px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* -------------------------------------
        p-top-service
-----------------------------------------*/
.p-top-service__card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 0;
  margin-top: 70px;
}
@media screen and (max-width: 1050px) {
  .p-top-service__card-wrap {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .p-top-service__card-wrap {
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 30px;
  }
}
.p-top-service__card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1050px) {
  .p-top-service__card:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1050px) and (max-width: 767px) {
  .p-top-service__card:nth-child(n+3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-top-service__card {
    display: block;
    grid-row: auto;
    margin-top: 0;
  }
}
.p-top-service__card-img {
  grid-row: 1;
}
.p-top-service__card-img img {
  display: block;
  width: 100%;
  height: auto;
}
.p-top-service__card-body {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2/span 3;
  background-color: #fff;
  padding: 40px 35px 24px;
}
.p-top-service__card-content {
  grid-row: 1;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}
.p-top-service__card-title {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.p-top-service__card--num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #2DAEBB;
  border-radius: 50%;
  color: #fff;
  font-size: 2.4rem;
  line-height: 1;
}
.p-top-service__card-text {
  margin-top: 15px;
}
.p-top-service__card-price {
  grid-row: 2;
  padding: 20px 0;
}
.p-top-service__card-dl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 10px;
}
.p-top-service__card-dl-item--highlight {
  background-color: #FCF8BE;
}
.p-top-service__card-dl-item--highlight .p-top-service__card-dt {
  font-weight: 500;
}
.p-top-service__card-dt {
  font-size: 1.2rem;
}
.p-top-service__card-dd {
  color: #2DAEBB;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.p-top-service__card-price-unit {
  display: inline-block;
  color: #333;
  font-family: "Notosans_subset", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5px;
}
.p-top-service__card-dl-note {
  font-size: 1rem;
  padding: 0 10px;
}
.p-top-service__card-link-wrap {
  grid-row: 3;
  align-self: end;
  text-align: right;
}
.p-top-service__card-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}
.p-top-service__card-link:hover::after, .p-top-service__card-link:focus-visible::after {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}
.p-top-service__card-link::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  background: url(../img/icon/icon_arrow-right.svg) no-repeat center/contain;
  margin-left: 9px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

/* -------------------------------------
        p-top-reason
-----------------------------------------*/
.p-top-reason__list {
  display: grid;
  gap: 40px 50px;
  grid-template-columns: repeat(2, 1fr);
}

/* -------------------------------------
        utility
-----------------------------------------*/
@media screen and (max-width: 767px) {
  .u-onliy-pc {
    display: none;
  }
}

.u-onliy-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-onliy-sp {
    display: block;
  }
}

.u-onliy-tbsp {
  display: none;
}
@media screen and (max-width: 992px) {
  .u-onliy-tbsp {
    display: inline-block;
  }
}

.u-pc-mt60 {
  margin-top: 60px !important;
}

.u-pc-mt80 {
  margin-top: 80px !important;
}

.u-text-accent-color {
  color: #92846F;
}

.u-border-bottom-none {
  border-bottom-width: 0;
}

.u-text-main-color {
  color: #2DAEBB;
}

.u-text-marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #FCF8BE));
  background: linear-gradient(transparent 60%, #FCF8BE 60%);
}

/* -------------------------------------
        fade
-----------------------------------------*/
.js-fade {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}
.js-fade.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.js-fadeUp {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}
.js-fadeUp.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.js-fadeRight {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}
.js-fadeRight.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* 下から */
/* 上から */
/* 右から *//*# sourceMappingURL=style.css.map */