// 透過度
$opacity: 0.6;
$hover-opacity: 0.7;

//汎用色
$color-black01: #333;
$color-black02: #222;

$main-color: #2DAEBB;
$second-color: #38BADC;

$main-bg: #EEFAF9;

$accent-color: #92846F;

$marker-color: #FCF8BE;



/* FontFamily */
$base-font-family: 'Notosans_subset', sans-serif;
$second-font-family: 'Yu Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
$third-font-family: 'Roboto', sans-serif;


/* font-weight */
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$demibold: 600;
$bold: 700;
$extraold: 800;
$black: 900;

body {
  font-family: $base-font-family;
  font-weight: $regular;
  color: $color-black01;
}